@* @model Processor *@

@model StoreCatalog.Models.CatalogViewModel 

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Item</h2>
		</div>
		<div class="mb-3">
			<label asp-for="Processors[0].Manufacturer"></label>
			<input asp-for="Processors[0].Manufacturer"/>
		</div>
		<div class="mb-3">
			<label asp-for="Processors[0].Model"></label>
			<input asp-for="Processors[0].Model" />
		</div>
		<div class="mb-3">
			<input asp-for="Processors[0].CoreCount" />
			<label asp-for="Processors[0].CoreCount"></label>
		</div>
		<div class="mb-3">
			<label asp-for="Processors[0].ThreadCount"></label>
			<input asp-for="Processors[0].ThreadCount" />
		</div>
		<div class="mb-3">
			<input asp-for="Processors[0].Price" />
			<label asp-for="Processors[0].Price"></label>
		</div>
		<div class="mb-3">
			<label asp-for="Processors[0].IsAvailable"></label>
			<input asp-for="Processors[0].IsAvailable" />
		</div>
	</div>

</form>